header {
    margin-top: 4%;
    display: flex;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    gap: 5%;
}

#header_title {
    font-family: "Montserrat", sans-serif;
    font-size: 4dvh;
}

button {
    background-image: linear-gradient(to right, #F7E016, #F7B816);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-right: 2%;
    margin-top: 1%;
    transition: 0.2s;
}


@media (min-width: 768px) {
    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

button:active {
    transform: scale(0.95);
}

#header_logo {
    height: 200px;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }
}